html,body{
  min-height: 100vh;
}

body {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.left-side, .right-side {
  min-height: 100vh;
  padding: 40px;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 200em;
  padding-top: 200px;

  background-image: url(./images/ameer-basheer-Xrx3WWyrwes-unsplash.jpg);
  background-size: cover;
  
  color: white;
}

.logo-container {
  background-color: rgba(0, 0, 0, 0.11);
}

#title {

}
